.dark-theme-variables{
	background: black;
	color: #f6f6f6;
	--color-white: #181a1e;
	--color-dark: #edeffd;
	
	--color-light: rgb(0, 0, 0, 0.4);
	box-shadow: none;
}

.inner-body{
    
    background-color: transparent;
    height: auto;
    width:auto;
    align-content: center;
  }
  .inner-body h5{
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
    color: rgb(114, 41, 182);
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-bottom: 2rem;
  }

  .fee-slip{
    position: absolute;
    height: auto;
    width: auto;
    align-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    border-radius: 1rem;
    padding: 2rem;
    margin: 5rem 30rem;
  }
  .fee-slip input{
    background-color: transparent;
    padding: 0.6rem;
    color: #717171;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    appearance: textfield;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 3px 1px rgba(76, 76, 76, 0.547);
  }
  .fee-slip button{
    background-color: #358597;
    width: 6rem;
    border: none;
    text-align: center;
    padding: 0.6rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 7rem;
    transition: all 0.5s ease-out;

  }
  .fee-slip button:hover{
    background-color: transparent;
    border: 1px solid #358597;
    transition: all 0.5s ease-out;
  }
  .fee-slip a{
    
    color: rgba(255, 255, 255, 0.715);
    font-family: inherit;
    margin-top: 1rem;

    transition: all 0.5s ease-out;

  }
  .fee-slip a:hover{
    color: #358597;
    transition: all 0.5s ease-out;
  }
 .tab input{
    
   box-shadow: none;
   margin: 1rem;
  
   
  }
  .inner-body .tab h3{
    
    position: absolute;
    color: #717171;
    font-family: inherit;
    font-size: 1rem;
  }
  .dark-theme-variables .fee-slip{
background-color: #181a1e;
color: #f6f6f6;
border: 2px solid white;
  }
  .dark-theme-variables .fee-slip a{
    color: #f6f6f6;
  }
 .dark-theme-variables .fee-slip input{
    color: #f6f6f6;
    border: 2px solid white;
  }
  .dark-theme-variables h5{
    color: white;
  }