:root {
    --color-primary: #7380ec;
        --color-danger: #ff7782;
        --color-success: #41f1b6;
        --color-warning: #ffbb55;
        --color-white: #fff;
        --color-info-dark: #7d8da1;
        --color-info-light: #dce1eb;
        --color-dark: #363949;
        --color-light: rgb(132, 139, 200, 0.18 );
        --color-primary-variant: #111e88;
        --color-dark-variant: #677483;
        --color-background: #f6f6f9;
        
    --card-border-radius: 2rem;
        --border-radius-1: 0.4rem;
        --border-radius-2: 0.8rem;
        --border-radius-3: 1.2rem;
        
    --card-padding: 1.8rem; --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
.dark-theme-variables{
        background: black;
        color: #f6f6f6;
        --color-white: #181a1e;
        --color-dark: #edeffd;
        --color-light: rgb(0, 0, 0, 0.4);
        box-shadow: none;
}
.inner-body h1{
    font-size: 2rem;
}

.insights{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

.insights > div{
	background: rgb(255, 255, 255);
	padding:  1.8rem;
	border-radius: 2rem;
	margin-top: 1rem;
	box-shadow: 0px 0px 5px 5px rgba(57, 202, 210, 0.051);
	transition: 0.5s ease-in;
}

.insights > div:hover{
	transform: scale(1.03);
	transition: 0.5s ease-out;
	box-shadow: none;
	box-shadow: 0px 0px 11px 1px rgba(31, 176, 184, 0.259);

}

.insights > div span{
	background: rgb(65, 150, 189);
	padding: 0.5rem;
	border-radius: 40px;
	color: #fff;
	font-size: 2rem;
}

.insights > div.expenses span{
	background: red;
}
.insights > div.income span{
	background: red;
}
.insights > div.income span{
	background: rgb(0, 162, 255);
}
.insights > div.revenue span{
	background: rgb(101, 201, 25);
}

 .insights > div .middle{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
 .insights > div .Revenue{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
 .insights > div .stud-attendance{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

 
 .insights h3{
	margin: 1rem 0.6rem;
	font-size: 1rem;
}

 .insights .progress{
	position: relative;
	width: 92px;
	height: 92px;
	border-radius: 50px;
}

 .insights svg{
	
	width: 7rem;
	height: 7rem;
}

 .insights svg circle{
	fill: none;
	stroke: rgb(65, 150, 189);
	stroke-width: 13;
	stroke-linecap: round;
	transform: translate(5px, 5px);
	
}

 .insights .expenses svg circle{
	fill: none;
	stroke: rgb(65, 150, 189);
	stroke-width: 13;
	stroke-linecap: round;
	transform: translate(5px, 5px);
	
}

 .insights .income svg circle{
	fill: none;
	stroke: rgb(65, 150, 189);
	stroke-width: 13;
	stroke-linecap: round;
	transform: translate(5px, 5px);
	
}


 .insights .sales svg circle{
	
	stroke-dashoffset: 00;
	stroke-dasharray: 110;
}

 .insights .expenses svg circle{
	
	stroke-dashoffset: 30;
	stroke-dasharray: 270;
	
}



 .insights .progress .number{
	position:absolute;
	top: -1px;
	left: -2px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
 .insights small{
  font-size: 1rem;
	margin: 0.7rem;
	display: block;
}


    