:root {
    --color-primary: #7380ec;
        --color-danger: #ff7782;
        --color-success: #41f1b6;
        --color-warning: #ffbb55;
        --color-white: #fff;
        --color-info-dark: #7d8da1;
        --color-info-light: #dce1eb;
        --color-dark: #363949;
        --color-light: rgb(132, 139, 200, 0.18 );
        --color-primary-variant: #111e88;
        --color-dark-variant: #677483;
        --color-background: #f6f6f9;
    --card-border-radius: 2rem;
        --border-radius-1: 0.4rem;
        --border-radius-2: 0.8rem;
        --border-radius-3: 1.2rem;
        
    --card-padding: 1.8rem; --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
.dark-theme-variables{
        background: black;
        color: #f6f6f6;
        --color-white: #181a1e;
        --color-dark: #edeffd;
        --color-light: rgb(0, 0, 0, 0.4);
        box-shadow: none;
}
.inner-body h1{
    font-size: 2rem;
}



.dark-theme-variables .message-box{
    background-color: #181a1e;
    color: #f6f6f6;
    border: 2px solid white;
}
.dark-theme-variables select{
    background-color: #181a1e;
    color: #f6f6f6;
    border: 2px solid white;   
}

.dark-theme-variables .message-box .search{
    background-color: #181a1e;
    color: white;
    border: 2px solid white;   
}

.dark-theme-variables .message-box textarea{
    transition: 0.5s ease-out;
    background-color: transparent;
    color: white;
    border: 2px solid white;   
    border-radius: 2rem;
    text-align: center;
}
.dark-theme-variables .msg label{
    color: white;
  
}

.dark-theme-variables .inner-body button{
    background: transparent;
    border: 2px solid white;
    color: white;
  
}
.dark-theme-variables .middle{
    background: #181a1e;
    border: 2px solid white;
    color: white;
  
}
.inner-body{
   
    background-color: transparent;
    height: 100%;
    width:auto;
    font-family: inherit;

  }
  .message-box h3{
    font-size: 1.5rem;
  }

  form {
    background-color: transparent;
    height: auto;
    width: auto;
    color: #357173;
    margin: 30px 150px;

}

select{
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.323);
}
select option{
    background-color:#f6f6f6;
}
.msg label{
    margin-top: 1rem;
    color: black;
    font-family: inherit;
}

input {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    
  }

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
  }

select {
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    font-size: 0.9rem;
    color: rgb(135, 134, 134);
  }

  .message-box{
      
    background-color: rgb(255, 255, 255); 
    width: auto;
    border-radius: 20px;
    font-size: 18px;
    height: auto;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: black;
    margin: 4rem 0px;
    font-family: inherit;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    transition: 0.7s ease-out;
    font-size: 1rem;
    text-align: center;
  
  }
  .message-box:hover{
      transition:  0.7s ease-out;
    
      box-shadow: 0 0 18px rgba(24, 56, 58, 0.567);
  }
  
  .message-box textarea{
    transition: 0.5s ease-out;
    opacity: 1;
    background-color: #edeffd9e;
  }
  .message-box .search{
    width: auto;
    font-family: inherit;
    position: relative;
    font-size: 0.9rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    color: rgb(83, 83, 83);
  }

  .message-box .assignment-name{
    width: 25rem;
    height: 3rem;
    font-family: inherit;
    position: relative;
    font-size: 0.9rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    color: rgb(83, 83, 83);
    border-radius: 10px;
    margin-top:-1rem ;
  }

  .message-box .date{
    margin-top: 0.5rem;
    width: auto;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: inherit;
    position: relative;
    font-size: 1rem;
    
    text-align: right;
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    color: rgb(83, 83, 83);
  }

  .button{
      padding: 10px;
      width: 150px;
      text-align: center;
      margin-top: 10px;
      background-color: transparent;
      font-family: sans-serif;
      font-size: 15px;
      background-color:rgb(68, 159, 201);
      color: white;
      border-radius: 30px;
      border: none;
      transition: all 0.7s ease-out;
      cursor: pointer;
      
    }
    .button:hover{
      transform: scale(1.05);
      border: 1px solid rgb(68, 159, 201);
      background-color: transparent;
      transition: all 0.5s ease-in-out;
      color: rgb(68, 159, 201);
      
    }

  
  td button{
    background-color: transparent;
  }
    
    
    @media all and (max-width: 768px) {
        
        
        .insights{
            margin-top: 3rem;
            display: block;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;
        }
        
        .insights > div{
            background: #fff;
            padding:  1.8rem;
            border-radius: 2rem;
            margin-top: 1rem;
            box-shadow: 0px 0px 6px 3px rgba(21, 47, 48, 0.31);
            transition: 0.5s ease-in;
        }
    
        
    }