.tab b{
    margin-left: 0rem;
  
  }
 form b{
  font-weight: 500;
  
  font-family: 'Poppins', sans-serif;
 }
  
  .btn3{
    background-color: rgb(65, 150, 189);
    border-radius: 4px;
    padding: 8px;
    color: white;
    width: auto;
    height: auto;
    margin-left: 80%;
    margin-top: -2.8rem;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in;
    cursor: pointer;
    
  }
  .btn3:hover{
    transition: 0.5s ease-out;
    background-color: #2a84d3;
}
 .result{
    background-color: rgb(65, 150, 189);
    border-radius: 4px;
    padding: 5px;
    color: white;
    width: auto;
    height: auto;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in;
    cursor: pointer;
    
  }

  .resultwrong{
    background-color: rgb(189, 65, 65);
    border-radius: 4px;
    padding: 5px;
    
    color: white;
    width: auto;
    height: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in;
    cursor: pointer;
    
  }
    tr:hover{
        transition: 0.2s ease-in;
        background-color: rgb(246, 246, 246);
        cursor: pointer;
      }
      tr{
        transition: 0.2s ease-in;
      }
  
  .tab textarea{
    background-color: rgba(128, 128, 128, 0.116);
    padding: 5px;
    border-radius: 1rem;
    font-size: 1rem;
  }
  
  td .numb{
    appearance: textfield;
    background-color:transparent;
    border: 1px solid gray;
    width: 2rem;
    text-align: center;
    margin-left: 2rem;
  }
td span{
  border: 1px solid rgb(83, 83, 83);
  border-radius: 2rem;
}
  .tab{
    transition: 0.5s ease-out;
   position: absolute;
    width: auto;
    height: auto;
  
    margin-top: 1rem;
      background-color: rgb(255, 255, 255);
     border-bottom-right-radius: 1rem;
     border-bottom-left-radius: 1rem;
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
     box-shadow: 0px 0px 7px 7px rgba(128, 128, 128, 0.13);
  
  }
  td img{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: 2rem;
  }
  
    
    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
  
    }
    table {
      border-collapse: collapse;
    }
  .white b{
      color: white;
  }
   
   
    .white {
  
      background: linear-gradient(45deg, rgb(65, 150, 189), rgb(65, 150, 189)) !important;
      
    }
  
    .table td, .table th {
      padding: .75rem;
      vertical-align: top;
      color: white;
    }
   td{
    width: auto;
   }
    .hide{
      width: 5rem;
      overflow: visible;
    }
    #hide1 {
      background: none;
      color: rgb(16, 33, 32);
      font-weight: 500;
      border: 0px;
      width: 8rem;
      padding: 0px;
      margin: 0px;
      box-shadow: none;
      z-index: 1;
    }
    button, input {
      overflow: visible;
    }
  
   
  
   
    input{
      font-family: 'Poppins', sans-serif;
      background-color: transparent;
      color: #1f3d52;
    }

   
    h1{
      margin-top: 1rem;
      text-align: left;
    }
  
  
    .dark-theme-variables .tab{
      transition: 0.5s ease-out;
  background-color: #181a1e;
  
    }
    .dark-theme-variables .tab input{
     
  color: white;
    }
  
  td .numb2{
    appearance: textfield;
    background-color:transparent;
    border: 1px solid rgba(128, 128, 128, 0.156);
    border-radius: 2rem;
    width: 2rem;
    text-align: center;
    margin-left: 4rem;
  }
  .trr td{
    border: 1px solid rgba(59, 59, 59, 0.156);
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin-left: 25%;
    margin-top: -5rem;
    position: absolute;
    padding: 20px;
    border-radius: 2rem;
    width: 50%;
    height: auto;
  }
  .modal-content h1{
    text-align: center;
  }
  
  /* The Close Button */
  




  .message-box h3{
    font-size: 1.5rem;
  }



select{
    background-color: transparent;
    
}
select option{
    background-color:#f6f6f6;
}
.msg label{
    margin-top: 1rem;
    color: black;
    font-family: inherit;
}
.SELECT{
    width: 10rem;
    text-align: center;
    border-radius: 5px;
}


.modal-content label {
    font-family: 'Poppins', sans-serif;
   text-align: left;
    margin: 0 auto;
    background-color: transparent;
  }

select {
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 2rem;
    padding: 0.5rem;
 
    font-size: 0.9rem;
    color: rgb(135, 134, 134);
  }

 
  h4{
    font-size: 1rem;
  }

  

  .button{
      padding: 10px;
      width: 150px;
      text-align: center;
      
      background-color: transparent;
      font-family: sans-serif;
      font-size: 15px;
      background-color:rgb(68, 159, 201);
      color: white;
      border-radius: 30px;
      border: none;
      transition: all 0.7s ease-out;
      margin-top: 2rem;
      
    }
    .button:hover{
      transform: scale(1.05);
      border: 1px solid rgb(68, 159, 201);
      background-color: transparent;
      transition: all 0.5s ease-in-out;
      color: rgb(68, 159, 201);
    }

  .btn span{
    margin-left: 0.7rem;
    border: none;
    background-color: rgb(68, 159, 201);
    border-radius: 2rem;
    padding: 0.3rem;
    color: #edeffd;
  }
  .btn span{
    background-color: rgb(68, 159, 201);
    border-radius: 2rem;
    padding: 0.3rem;
    
    color: #edeffd;
  }
  td button{
    background-color: transparent;
  }
    


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(65, 150, 189);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2a84d3;
  }
  
